:before, *:after{
    font: 1em 'Inter';
 
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}
.p10 {
    padding: 10px !important;
}

.p20 {
    padding: 20px !important;
}

.br10{
    border-radius: 10px;
}

.br20{
    border-radius: 20px;
}

.cursor-pointer{
    cursor: pointer;
}

.display-block{
    display: block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.margin-right-5{
    margin-right: 5px;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}


.font-size-header {
    font-size: 3em;
}

.text{
    font-size: 1em;
}

.title {
    font-size: 2em;
}

.font-light {
    font-weight: 100;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.font-extra-bold {
    font-weight: 900;
}
