body {
    background-color: #000008;
    color: white;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;              /* transforma em flex container */
    justify-content: center;    /* centraliza horizontalmente */
    align-items: center;        /* centraliza verticalmente */
}

input {
    width: 80%;             
    padding: 10px;           
    margin: 8px ;           
    border: none;            
    border-radius: 25px;     
    outline: none;           /* remove borda azul ao clicar */
    font-size: 16px;    
    background-color: #0D0B21;
    color: white;     
}

h1{
    font-style: bold;
}

.font-bold{
    font-weight: 700;
}

#ini {
    width: 600px;
    height: 450px;
    background-color: #19173F;
    padding-left: 15px;
    margin: 10px;
    justify-content:center ;
    align-items: center;
    border-radius: 5%;
    border: 1px solid #ffffff;
    display: flex;               /* vira flex container */
    flex-direction: column;      /* organiza em coluna */
}

button {
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 25px;
    background-color: #5949AC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #7f5af0; /* efeito hover */
}

a:link, a:hover {
    text-decoration: none;
    color: #7f5af0;
}